<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>School:</strong>
  <%= @user.school %>
</p>

<p>
  <strong>Year:</strong>
  <%= @user.year %>
</p>

<p>
  <strong>Major:</strong>
  <%= @user.major %>
</p>

<h3>Interests</h3>
<p>
  <strong>Front End:</strong>
  <%= @user.front_end1 %>
</p>

<p>
  <strong>Back End:</strong>
  <%= @user.back_end1 %>
</p>

<p>
  <strong>Design1:</strong>
  <%= @user.design1 %>
</p>

<p>
  <strong>Machine learning1:</strong>
  <%= @user.machine_learning1 %>
</p>

<p>
  <strong>Java1:</strong>
  <%= @user.java1 %>
</p>

<p>
  <strong>Python1:</strong>
  <%= @user.python1 %>
</p>

<p>
  <strong>Ruby1:</strong>
  <%= @user.ruby1 %>
</p>

<p>
  <strong>Javascript1:</strong>
  <%= @user.javascript1 %>
</p>

<p>
  <strong>C1:</strong>
  <%= @user.C1 %>
</p>

<p>
  <strong>Cplusplus1:</strong>
  <%= @user.Cplusplus1 %>
</p>

<p>
  <strong>Csharp1:</strong>
  <%= @user.Csharp1 %>
</p>

<p>
  <strong>Html1:</strong>
  <%= @user.html1 %>
</p>

<p>
  <strong>Css1:</strong>
  <%= @user.css1 %>
</p>

<p>
  <strong>App dev1:</strong>
  <%= @user.app_dev1 %>
</p>

<p>
  <strong>Web dev1:</strong>
  <%= @user.web_dev1 %>
</p>

<p>
  <strong>Hardware1:</strong>
  <%= @user.hardware1 %>
</p>

<p>
  <strong>Software dev1:</strong>
  <%= @user.software_dev1 %>
</p>

<p>
  <strong>Commitment:</strong>
  <%= @user.commitment %>
</p>

<p>
  <strong>Year2:</strong>
  <%= @user.year2 %>
</p>

<p>
  <strong>Java2:</strong>
  <%= @user.java2 %>
</p>

<p>
  <strong>Python2:</strong>
  <%= @user.python2 %>
</p>

<p>
  <strong>Ruby2:</strong>
  <%= @user.ruby2 %>
</p>

<p>
  <strong>Javascript2:</strong>
  <%= @user.javascript2 %>
</p>

<p>
  <strong>C2:</strong>
  <%= @user.C2 %>
</p>

<p>
  <strong>Cplusplus2:</strong>
  <%= @user.Cplusplus2 %>
</p>

<p>
  <strong>Csharp2:</strong>
  <%= @user.Csharp2 %>
</p>

<p>
  <strong>Html2:</strong>
  <%= @user.html2 %>
</p>

<p>
  <strong>Css2:</strong>
  <%= @user.css2 %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
